<div class="card card-compact bg-base-100 shadow-xl">
  <figure>
    <img
      [src]="hero().thumbnail.path + '/portrait_medium.jpg'"
      [alt]="'Image of' + hero().name"
    />
  </figure>
  <div class="card-body">
    <h2
      class="card-title text-accent text-lg hover:underline cursor-pointer"
      routerLink="/detail"
    >
      {{ hero().name }}
    </h2>
    <div class="card-actions justify-end">
      <button class="btn btn-square btn-ghost">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
        >
          <path
            fill="currentColor"
            d="M2 9.137C2 14 6.02 16.591 8.962 18.911C10 19.729 11 20.5 12 20.5s2-.77 3.038-1.59C17.981 16.592 22 14 22 9.138S16.5.825 12 5.501C7.5.825 2 4.274 2 9.137"
          />
        </svg>
      </button>
    </div>
  </div>
</div>
