@if( heroResource.isLoading() ) {
<div class="notFound">
  <p>Loading hero...</p>
</div>
} @if( heroResource.hasValue() ) {
<div class="hero">
  <img
    class="hero__image"
    [src]="
      heroResource.value().data.results[0].thumbnail.path +
      '/portrait_uncanny.jpg'
    "
    alt="Imagen Heroe"
  />
  <div class="hero__info">
    <div class="hero__title">
      <h1>{{ heroResource.value().data.results[0].name }}</h1>
    </div>
    <p class="hero__description">
      {{
        heroResource.value().data.results[0].description ||
          "No description available."
      }}
    </p>
  </div>
</div>

<div class="layout__content">
  <hero-comics [heroId]="heroResource.value().data.results[0].id" />
</div>
}
