<label class="input input-ghost w-full mt-5">
  <svg
    class="h-[1em] opacity-50"
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 24 24"
  >
    <g
      stroke-linejoin="round"
      stroke-linecap="round"
      stroke-width="2.5"
      fill="none"
      stroke="currentColor"
    >
      <circle cx="11" cy="11" r="8"></circle>
      <path d="m21 21-4.3-4.3"></path>
    </g>
  </svg>
  <input type="search" required placeholder="Search" />
</label>

<h2 class="mt-5">0 Resultados</h2>

<div
  class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-7 gap-3 mt-5"
>
  @for (hero of heroesResource.value()?.data?.results; track $index) {
  <hero-card [hero]="hero"></hero-card>
  }
  <!-- Empty -->
  @empty {
  <p>No hay heroes</p>
  }
</div>
