/* You can add global styles to this file, and also import other style files */

* {
  font-family: sans-serif;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  text-wrap: balance;
}

button {
  background: none;
  border: none;
}

.layout__content {
  margin: 1.5rem;
}

.notFound {
  background-color: red;
  color: white;
  text-align: center;
  width: 100%;
}
